body{
  max-width:600px;
  border: 2px solid rgb(121, 75, 6);
  border-radius: 10px;
  margin: 20px 40px;
  padding: 10px 20px;
}
h2{
  font-size: 18px;
}
.para1{
  color: green;
  font-size: 14px;
  padding-bottom: 15px;
}
.para2{
  color: red;
  font-size: 14px;
  padding-bottom: 15px;
}
.para3{
  color: blue;
  font-size: 14px;
}